* {
	box-sizing: border-box;
}

body,
h1,
h2,
h3 {
	margin: 0;
	font-weight: 600;
}

main {
	width: 100vw;
	height: 100vh;

	min-width: 45em;
	min-height: 40em;

	font-family: var(--font);
	font-weight: 600;
	font-size: 12px;
	line-height: 1;

	color: #333;

	display: flex;
	flex-direction: column;

	--font: Overpass, Arial, sans-serif;

	--col-green-1-af: #2a6a52af;
	--col-green-1-7f: #2a6a527f;
}

main > workspace- {
	flex-grow: 1;

	display: grid;
}

main > workspace- > * {
	grid-row: 1;
	grid-column: 1;
}

main > workspace- > viewport- {
	/* center contents */
	display: flex;
	justify-content: center;
	align-items: center;

	overflow: hidden;
}

main > workspace- > overlays- {
	pointer-events: none;

	margin: 1em;
	position: relative;

	font-size: .85em;

	color: #fff;

	--overlay-box-shadow: 0 5px 8px var(--col-green-1-7f);
}

main > workspace- > overlays- .inactive {
	opacity: .6;
}

main > workspace- > overlays- ::selection {
	background: #ffffff3f;
}

main > workspace- > overlays- > * {
	position: absolute;

	pointer-events: initial;
}

main > workspace- > overlays- > toolbar- {
	bottom: 0;
	right: 0;

	display: flex;
	flex-direction: row-reverse;
}

main > workspace- > overlays- > toolbar- > tool-button {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 2em;
	height: 4em;

	border-radius: .5em;

	background: var(--col-green-1-af);
	box-shadow: var(--overlay-box-shadow);
}

main > workspace- > overlays- > toolbar- > tool-button + * {
	margin: 1em;
}

main > workspace- > overlays- > .panel {
	left: 0;

	display: flex;
	flex-direction: column;
	max-width: 260px;
	overflow: auto;

	border-radius: 1em;

	background: var(--col-green-1-af);
	box-shadow: var(--overlay-box-shadow);
}

main > workspace- > overlays- > .panel h2,
main > workspace- > overlays- > .panel h3 {
	cursor: default;

	letter-spacing: .1em;
}

main > workspace- > overlays- > .panel > *:not(:empty) {
	padding: .5em 1em;
}

main > workspace- > overlays- > .panel > h2 {
	background: var(--col-green-1-af);
}

main > workspace- > overlays- > .panel > .panel-content {
	max-height: 300px;
	overflow: auto;
}

main > workspace- > overlays- > .panel > .panel-content h3 {
	padding: 0;

	margin-top: .5em;
}

main > workspace- > overlays- > .panel > .panel-content form {
	display: flex;
	width: 100%;
}

main > workspace- > overlays- > .panel > .panel-content form > input {
	width: inherit; /* Inputs automatically have a fixed size */
}

main > workspace- > overlays- > .panel > .panel-content form > input:after {
	content: attr(data-label);
}

main > workspace- > overlays- > .panel > .panel-content input {
	border: 0;

	text-align: center;
	font-family: var(--font);
	color: inherit;

	background: #176d4caf;
}

main > menu-bar {
	height: 3em;

	background: #668b8f;
}